:root{
    --cor1: #830007;
    --cor2: #F90300;
    --cor3: #000000;
    --cor4: #ffffff;
}
body{
    padding: 10px;
    background-color: var(--cor1);
}

div#interface{
    background-color: var(--cor4);
}
div#logotipo {
    text-align: center;
  }
img#logo{
    width: 200px;
    height: 100px;
    
}
nav h1{
    display: none;
}
header h1 {
    text-align: center;

}
h1 {
    color: var(--cor2);
}

nav#menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 0%;
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

nav#menu a:hover {
    color: var(--cor3);
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
}

nav#menu li {
    display: inline-block;
    background-color: var(--cor1);
    padding: 10px;
    margin: 2px;
    transition: background-color 0.2s;
}

nav#menu li:hover {
    background-color: var(--cor2);
}

#social-links {
    display: flex;
    justify-content: center;
    font-size: 24px;
    
}
#social-links a{
    padding: 10px;
    text-decoration: none;
    color: var(--cor3);
}
  
footer {
    padding: 24px;
    text-align: center;
    font-size: 14px;
}

a.link{
    text-decoration: none;
    color: var(--cor3);
}
.d-block {
    height: 700px;
}