/* Cores do Documento*/
:root{
    --cor1: #830007;
    --cor2: #F90300;
    --cor3: #000000;
    --cor4: #ffffff;
}
/*Fontes do documento*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Configurações dos navegadores*/
*{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--cor1);
}

header{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: var(--cor4);
    border-radius: 0px;
    padding-top: 15px;
}

main{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

div#interface{
    background-color: var(--cor4);
}

div#logotipo {
    text-align: center;
}

img#logo{
    width: 200px;
    height: 100px;
    margin: 0;
    padding: 0;
}

nav h1{
    display: none;
}

header h1 {
    text-align: center;

}

h2{
    font-size: 32px;
}

h3{
    font-size: 20px;
}

nav#menu {
    display: block;
    position: absolute;
    top: -15px;
    right: 0%;
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: var(--cor4);
    text-decoration: none;
    transition: color 0.2s;
}

nav#menu a:hover {
    color: var(--cor3);
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
}

nav#menu li {
    display: inline-block;
    background-color: var(--cor1);
    padding: 10px;
    margin: 2px;
    transition: background-color 0.2s;
}

nav#menu li:hover {
    background-color: var(--cor2);
}

#social-links {
    display: flex;
    justify-content: center;
    font-size: 24px;
    
}

#social-links a{
    padding: 10px;
    text-decoration: none;
    color: var(--cor3);
}
  
footer {
    padding: 24px;
    text-align: center;
    font-size: 14px;
}

a.link{
    text-decoration: none;
    color: var(--cor3);
}
.d-block {
    height: 700px;
}

div.conteudo{
    background-color: var(--cor4);
    align-items: center;
    text-align: center;
    align-content: center;
}

.logo{
    width: 150px;
    height: 100px;
}

.modal{
    padding: 2%;
}

.modal h2{
    font-size: 22px;
    font-weight: bolder;
}

span{
    font-weight: bold;
}

.fechar{
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 10px;
}

.fechar:hover{
    background-color: var(--cor2);
    color: var(--cor3);
    font-weight: bold;
} 

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -80px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.conteudo .modal{
    animation: modal 3s;
}

.conteudo{
    animation: modal 3s;
}

.fechar a{
    text-decoration: none;
    color: var(--cor4);
}

.fechar a:hover {
    color: var(--cor3);
}

.banner{
    position: relative;
    padding-left: 25vmax;
    text-align: center;
    margin: 0 auto;
}

.cycle-slideshow img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
}

a#whatsapp {
    color: var(--cor4);
    text-decoration: none;
    transition: color background-color 0.2s;
    background-color: var(--cor1);
    padding: 10px;
    margin: 2px;
}

a#whatsapp:hover {
    color: var(--cor3);
    background-color: var(--cor2);
}

.simulaLogo {
    display: inline-flex;
    height: 280px;
    width: 280px;
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
}