body{
    padding: 0px;
    margin: 0px;
}

header h1 {
    color: red;
    text-align: center;

}

header ul {
    list-style: none;
    display: block;
    position: absolute;
    left: 87%;
    top :0px;
}

header li{
    display: inline;
    border: 1px 1px solid black;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
}

header a{
    color: white;
    text-decoration: none;

}